#worthyContainer
  width 100%
  // height 100%
  .imgWrap
    width 100%
    height 104px
    img
      width 100%
      height 104px
      display block
  .headerTitle
    width 100%
    height 100px
    padding 0 26px 0 24px
    box-sizing border-box
    display flex
    justify-content space-between
    align-items center
    .headerHome
      width 46px
      height 100px
      line-height 100px
      a
        i
          font-size 44px
    .titleText
      font-size 36px
    .headerIcon
      width 141px
      height 100px
      line-height 100px
      margin-right 2px
      display flex
      justify-content space-between
      a
        i
          font-size 42px
          color #333
      a
        i.icon-cart-full
          font-size 56px
  .swiperWrap
    position relative
    width 100%
    height 685px
    // padding: 145px 0 0
    .s-titleWrap
      width 100%
      height 518px
      background-image url('./images/worthybackground.png')
      background-size cover
      .s-title
        width 100%
        height 145px // (262+270)*2 - 685 - (685-262*2)
        // background #99cccc
        display flex
        .logo
          width 130px
          height 69px
          margin 56px 8px 20px 16px
          background-image url('./images/worthy.png')
          background-size cover
        .text
          width 249px
          height 44px
          margin 81px 0 20px
          font-size 30px
          color #fff
    .swiper-container
      position absolute
      left 20px
      top 145px
      width 710px
      height 540px
      background #ffffff
      border-radius 10px
      .swiper-wrapper
        width 100%
        height 540px
        .swiper-slide
          height 100%
          // background-image linear-gradient(to right, #7A88FF, #7AFFAF)
          .itemWrap
            width 100%
            height 100%
            padding 36px 6px 6px
            box-sizing border-box
            display flex
            flex-direction column
            align-items center
            .item
              width 168px
              height 210px
              display flex
              flex-direction column
              align-items center
              text-align center
              img
                width 120px
                height 120px
              .text
                height 40px
                line-height 40px
                width 168px
                color #333333
                font-size 28px
                font-weight bold
              .info
                height 30px
                line-height 30px
                width 168px
                color #999999
                font-size 24px
                margin 1px 0 0
      /deep/.swiper-pagination
        .swiper-pagination-bullet
          width 39px
          height 6px
          background #333
          border-radius 2px
          margin 0
        .swiper-pagination-bullet.swiper-pagination-bullet-active
          background #dd1a21
  .mainContainer
    width 100%
    .container-water-fall
      width 730px
      // // height 800px
      margin 30px 0px 0 20px
      display flex
      flex-wrap wrap
      justify-content space-between
      .cell-item
        width 345px
        .item-body
          width 100%
          border-radius 20px
          overflow hidden
          img
            display block
            width 100%
            height auto
          .item-desc
            width 100%
            height 98px
            line-height 1.6
            font-size 28px
            background #ffffff
            padding 9px 8px 0
            box-sizing border-box
            color #333
            display -webkit-box
            -webkit-line-clamp 2
            overflow hidden
            text-overflow ellipsis
            -webkit-box-orient vertical
            // margin-bottom 10px
          .item-footer
            width 100%
            padding 16px 16px 24px
            box-sizing border-box
            display flex
            justify-content space-between
            align-items center
            img
              width 48px
              height 48px
              border-radius 50%
              margin-right 10px
            .name
              flex 1
